@import 'reset';
$header-height: 50px;
$color-superlightblue: #BEECE9;
$color-lightblue: #4ECDC4;
$color-darkblue: #1A535C;
$color-pumpkin: #E84314;
$color-lightred: #FF6B6B;
$color-lightyellow: #FFE66D;
$color-yellow: #E8D264;
$color-background: #F0F8EA;

body {
    background: url(../img/soft-honey-hive.png) repeat 0 0 $color-background;
}

main {
    width: 100%;
}

header {
    border-radius: 3px;
    background: $color-lightblue;
    background: linear-gradient($color-lightblue, $color-darkblue);
    margin: 10px;
    padding: 10px;
    height: auto;
    overflow: hidden;
    h1 {
        display: block;
        font-size: $header-height;
        font-style: italic;
        float: left;
        color: $color-lightyellow;
    }   
}
