<div class="masonry-layout">
    <div *ngFor="let SubmissionData of SubmissionDatas" class=”masonry-layout-cluster-segment-column”>
        <article class="masonry-layout-panel">
            <div class="masonry-layout-panel-content">
                <h2>{{SubmissionData.subreddit_name_prefixed}} <a href="{{SubmissionData.url}}">{{SubmissionData.title | uppercase}}</a></h2>
                <div *ngIf="SubmissionData.submission_hint === 'image'" class="image"><img src="{{SubmissionData.url}}" /></div>
                <p class="selftext">{{SubmissionData.selftext}}</p>
                <div><a href="http://www.reddit.com{{SubmissionData.permalink}}">{{SubmissionData.num_comments}} Comments</a></div>
            </div>
        </article>
    </div>
</div>


