$color-superlightblue: #BEECE9;
$color-lightblue: #4ECDC4;
$color-darkblue: #1A535C;
$color-pumpkin: #E84314;
$color-lightred: #FF6B6B;
$color-lightyellow: #FFE66D;
$color-yellow: #E8D264;
$color-grey: #b8bcb5;
$color-darkgrey: #868984;
$color-background: #F0F8EA;

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

.masonry-layout {
  column-count: 1;
  column-gap: 0;
}
@media (min-width: 768px) {
  .masonry-layout {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .masonry-layout {
    column-count: 3;
  }
}

.masonry-layout-panel {
  break-inside: avoid;
  padding: 5px;
  :hover{
    background-color: $color-superlightblue;
  }
}
.masonry-layout-panel-content {
  padding: 20px;
  border-radius: 10px;
  @include alpha-attribute(background-color, rgba(128,128,128, .5), $color-background);
  h2 a {
    display: inline-block;
    width: 100%;
    color: $color-darkblue;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  h2 a:hover {
    color: $color-darkgrey;
  }
  img {
    width: 100%;
  }
  p {
    overflow-y: auto;
    max-height: 300px;
  }
}
