<article *ngFor="let SubmissionData of SubmissionDatas">
    <h2>{{SubmissionData.subreddit_name_prefixed}} <a href="http://www.reddit.com{{SubmissionData.permalink}}">{{SubmissionData.title | uppercase}}</a></h2>
    <details>
        <summary>
            <img class="image" src="{{SubmissionData.thumbnail}}" />
        </summary>
        <p *ngIf="SubmissionData.submission_hint === 'image'" class="image"><img src="{{SubmissionData.url}}" /></p>
        <p class="selftext">{{SubmissionData.selftext}}</p>
    </details>
</article>