$color-lightyellow: #FFE66D;

.menu {
    float:right;
    >li {
        display:inline-block;
	    overflow: hidden;
	    margin: 0 10px;
    }
}
.isSelected {
    text-decoration: underline;
    font-weight: bold;
    color: $color-lightyellow;
}